n8n-workflows/02-MAD-Quiropraxia-Bot-Inbound.json
{
  "name": "MAD-Quiropraxia - Bot Inbound (WhatsApp + OpenAI + RAG)",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mad-quiropraxia-evolution",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook Evolution",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "mad-quiropraxia-evolution"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict" },
          "conditions": [
            {
              "leftValue": "={{ $json.body.event }}",
              "rightValue": "messages.upsert",
              "operator": { "type": "string", "operation": "equals" }
            },
            {
              "leftValue": "={{ $json.body.data.key.fromMe }}",
              "rightValue": false,
              "operator": { "type": "boolean", "operation": "false" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-incoming",
      "name": "Solo mensajes entrantes",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extrae datos del payload de Evolution API\nconst body = $input.item.json.body;\nconst data = body.data;\nconst remoteJid = data.key?.remoteJid || '';\nconst phone = remoteJid.replace('@s.whatsapp.net', '').replace(/\\D/g, '');\n\nconst message = data.message?.conversation\n  || data.message?.extendedTextMessage?.text\n  || data.message?.imageMessage?.caption\n  || '';\n\nif (!phone || !message) {\n  return [{ json: { skip: true, reason: 'missing phone or message' } }];\n}\n\nreturn [{\n  json: {\n    phone,\n    message,\n    evolution_message_id: data.key?.id,\n    instance: body.instance,\n    timestamp: data.messageTimestamp,\n  }\n}];"
      },
      "id": "extract-payload",
      "name": "Extraer datos del mensaje",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://onwgfixvbyknotnbrkgr.supabase.co/rest/v1/rpc/resolve_inbound_phone",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_phone\": \"{{ $json.phone }}\",\n  \"p_evolution_instance_id\": \"{{ $env.EVOLUTION_INSTANCE_ID }}\"\n}",
        "options": {}
      },
      "id": "resolve-phone",
      "name": "Resolver paciente/tenant",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "// Si no hay paciente registrado, igual procesa con tenant default + crea conversación con phone\nconst resolved = $input.item.json;\nconst extracted = $('Extraer datos del mensaje').item.json;\n\n// resolve_inbound_phone retorna array; tomar primer elemento\nconst row = Array.isArray(resolved) ? resolved[0] : resolved;\n\nif (!row || !row.tenant_id) {\n  // Sin paciente y sin tenant — descartamos. En producción se puede ruteear a un tenant default.\n  return [{ json: { skip: true, reason: 'no tenant for this phone', phone: extracted.phone } }];\n}\n\nreturn [{\n  json: {\n    tenant_id: row.tenant_id,\n    patient_id: row.patient_id,\n    patient_name: row.patient_name || 'Hola',\n    conversation_id: row.conversation_id,\n    phone: extracted.phone,\n    user_message: extracted.message,\n    evolution_message_id: extracted.evolution_message_id,\n  }\n}];"
      },
      "id": "build-context",
      "name": "Construir contexto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://onwgfixvbyknotnbrkgr.supabase.co/rest/v1/whatsapp_messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tenant_id\": \"{{ $json.tenant_id }}\",\n  \"conversation_id\": \"{{ $json.conversation_id }}\",\n  \"direction\": \"inbound\",\n  \"role\": \"user\",\n  \"content\": {{ JSON.stringify($json.user_message) }},\n  \"evolution_message_id\": \"{{ $json.evolution_message_id }}\",\n  \"status\": \"delivered\"\n}",
        "options": {}
      },
      "id": "log-inbound",
      "name": "Log mensaje entrante",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://onwgfixvbyknotnbrkgr.supabase.co/rest/v1/rpc/recent_conversation_messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_conversation_id\": \"{{ $('Construir contexto').item.json.conversation_id }}\",\n  \"p_limit\": 20\n}",
        "options": {}
      },
      "id": "fetch-history",
      "name": "Memoria conversacional (últimos 20)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://onwgfixvbyknotnbrkgr.supabase.co/rest/v1/rpc/next_appointment_by_phone",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_phone\": \"{{ $('Construir contexto').item.json.phone }}\"\n}",
        "options": {}
      },
      "id": "fetch-next-appointment",
      "name": "Próxima cita del paciente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 560]
    },
    {
      "parameters": {
        "jsCode": "// Construye los mensajes para OpenAI con system prompt + historial + última pregunta\nconst ctx = $('Construir contexto').item.json;\nconst historyRaw = $('Memoria conversacional (últimos 20)').item.json || [];\nconst nextAppt = $('Próxima cita del paciente').item.json?.[0];\n\nconst SYSTEM = `Eres el asistente virtual del equipo de chiropract.co, la clínica del Dr. Miguel Ángel Díaz.\n\nIDENTIDAD\n- Te identificas como \"el equipo de chiropract.co\". Nunca te haces pasar por el Dr. Díaz directamente.\n- chiropract.co integra quiropraxia, ortopedia y fisioterapia. El Dr. Díaz lleva 15+ años practicando este método integrado y atiende tanto en su consultorio en Bogotá como en jornadas itinerantes en Soatá, Guamal, Muzo y Garcés Navas.\n\nTONO\n- Trata al paciente de \"usted\". Es Colombia y muchos son adultos mayores.\n- Cálido, profesional, cercano. Como un amigo que sabe de medicina.\n- No uses jerga médica innecesaria.\n- Mensajes cortos (1-3 párrafos). Esto es WhatsApp, no email.\n- Usa emojis con moderación: 📅 🕐 📍 🧾 💳 ✅ ❌ 🔄.\n\nQUÉ PUEDES HACER\n1. Confirmar/recordar próxima cita al paciente.\n2. Reagendar o cancelar (pide al paciente nueva fecha tentativa, pero NO confirmes — di que el equipo lo coordinará).\n3. Compartir información de jornadas próximas.\n4. Compartir recibos cuando el paciente los pide (responde \"En un momento le envío su recibo\" — el flujo aparte lo manda).\n5. Responder preguntas generales sobre quiropraxia, postura, dolor.\n6. Dar tips post-sesión: tomar agua, evitar esfuerzos 24h, calor local.\n\nQUÉ NO HACES\n- NO das diagnósticos médicos. Si el paciente describe síntomas graves, dile: \"Le recomiendo agendar una consulta para que el Dr. Miguel Ángel lo evalúe en persona.\"\n- NO recetas medicamentos.\n- NO confirmes precios sin verificar — di \"el equipo le confirma el costo exacto\".\n- NO compartas información de otros pacientes.\n\nESCALACIÓN A HUMANO\nSi el paciente:\n- Pide hablar con una persona (\"quiero hablar con alguien\", \"con el doctor\")\n- Tiene una emergencia (\"no puedo moverme\", \"dolor insoportable\")\n- Está molesto o con queja\n→ Responde: \"En un momento alguien del equipo le responde personalmente. Si es urgente, llámenos directamente.\" Y termina con [ESCALATE_TO_HUMAN] al final del mensaje (esto activa una alerta interna).\n\nDATOS DEL PACIENTE\nNombre: ${ctx.patient_name}\n${nextAppt ? `Próxima cita: ${nextAppt.date} a las ${nextAppt.time} (${nextAppt.type}) en ${nextAppt.location}. Estado: ${nextAppt.status}.` : 'Sin citas próximas registradas.'}\n\nFIRMA\nTermina cada mensaje sustancial con: \"— Equipo chiropract.co\" (no en respuestas cortas tipo \"Sí\", \"OK\").`;\n\nconst messages = [{ role: 'system', content: SYSTEM }];\n\n// Historial (los últimos 20, ya en orden ascendente)\nfor (const m of historyRaw) {\n  if (m.role === 'user' || m.role === 'assistant') {\n    messages.push({ role: m.role, content: m.content });\n  }\n}\n\n// Asegurar que el último mensaje del usuario está incluido\nconst last = messages[messages.length - 1];\nif (!last || last.role !== 'user' || last.content !== ctx.user_message) {\n  messages.push({ role: 'user', content: ctx.user_message });\n}\n\nreturn [{\n  json: {\n    ...ctx,\n    messages,\n    next_appointment: nextAppt || null,\n  }\n}];"
      },
      "id": "build-prompt",
      "name": "Armar prompt OpenAI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.OPENAI_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"messages\": {{ JSON.stringify($json.messages) }},\n  \"temperature\": 0.5,\n  \"max_tokens\": 600\n}",
        "options": { "timeout": 30000 }
      },
      "id": "openai",
      "name": "OpenAI Chat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 400]
    },
    {
      "parameters": {
        "jsCode": "const ai = $input.item.json;\nconst ctx = $('Armar prompt OpenAI').item.json;\nlet reply = ai.choices?.[0]?.message?.content || 'Disculpe, en un momento le respondemos.';\n\nconst escalate = reply.includes('[ESCALATE_TO_HUMAN]');\nreply = reply.replace('[ESCALATE_TO_HUMAN]', '').trim();\n\nreturn [{\n  json: {\n    tenant_id: ctx.tenant_id,\n    patient_id: ctx.patient_id,\n    conversation_id: ctx.conversation_id,\n    phone: ctx.phone,\n    reply,\n    escalate,\n  }\n}];"
      },
      "id": "parse-reply",
      "name": "Parsear respuesta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://ievoapi.inventagency.co/message/sendText/{{ $env.EVOLUTION_INSTANCE_NAME }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.EVOLUTION_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"57{{ $json.phone }}\",\n  \"text\": {{ JSON.stringify($json.reply) }}\n}",
        "options": {}
      },
      "id": "send-reply",
      "name": "Enviar respuesta WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2220, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://onwgfixvbyknotnbrkgr.supabase.co/rest/v1/whatsapp_messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tenant_id\": \"{{ $('Parsear respuesta').item.json.tenant_id }}\",\n  \"conversation_id\": \"{{ $('Parsear respuesta').item.json.conversation_id }}\",\n  \"direction\": \"outbound\",\n  \"role\": \"assistant\",\n  \"content\": {{ JSON.stringify($('Parsear respuesta').item.json.reply) }},\n  \"status\": \"sent\"\n}",
        "options": {}
      },
      "id": "log-outbound",
      "name": "Log respuesta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2440, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict" },
          "conditions": [
            {
              "leftValue": "={{ $('Parsear respuesta').item.json.escalate }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-escalate",
      "name": "¿Escalar a humano?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2660, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://onwgfixvbyknotnbrkgr.supabase.co/rest/v1/alerts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tenant_id\": \"{{ $('Parsear respuesta').item.json.tenant_id }}\",\n  \"type\": \"warning\",\n  \"message\": \"Paciente necesita atención humana en WhatsApp\",\n  \"action\": \"open_conversation\",\n  \"reference_id\": \"{{ $('Parsear respuesta').item.json.conversation_id }}\"\n}",
        "options": {}
      },
      "id": "create-alert",
      "name": "Crear alerta interna",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2880, 320]
    }
  ],
  "connections": {
    "Webhook Evolution": { "main": [[{ "node": "Solo mensajes entrantes", "type": "main", "index": 0 }]] },
    "Solo mensajes entrantes": { "main": [[{ "node": "Extraer datos del mensaje", "type": "main", "index": 0 }], []] },
    "Extraer datos del mensaje": { "main": [[{ "node": "Resolver paciente/tenant", "type": "main", "index": 0 }]] },
    "Resolver paciente/tenant": { "main": [[{ "node": "Construir contexto", "type": "main", "index": 0 }]] },
    "Construir contexto": { "main": [[
      { "node": "Log mensaje entrante", "type": "main", "index": 0 },
      { "node": "Memoria conversacional (últimos 20)", "type": "main", "index": 0 },
      { "node": "Próxima cita del paciente", "type": "main", "index": 0 }
    ]] },
    "Memoria conversacional (últimos 20)": { "main": [[{ "node": "Armar prompt OpenAI", "type": "main", "index": 0 }]] },
    "Armar prompt OpenAI": { "main": [[{ "node": "OpenAI Chat", "type": "main", "index": 0 }]] },
    "OpenAI Chat": { "main": [[{ "node": "Parsear respuesta", "type": "main", "index": 0 }]] },
    "Parsear respuesta": { "main": [[{ "node": "Enviar respuesta WhatsApp", "type": "main", "index": 0 }]] },
    "Enviar respuesta WhatsApp": { "main": [[{ "node": "Log respuesta", "type": "main", "index": 0 }]] },
    "Log respuesta": { "main": [[{ "node": "¿Escalar a humano?", "type": "main", "index": 0 }]] },
    "¿Escalar a humano?": { "main": [[{ "node": "Crear alerta interna", "type": "main", "index": 0 }], []] }
  },
  "settings": { "executionOrder": "v1", "timezone": "America/Bogota" },
  "tags": [{ "name": "MAD-Quiropraxia" }]
}
